<div class="form-group">
    <label class="questions" for="age">age</label>
    <input class="answers" type="number" id="age" name="age">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="born">Where are you born?</label>
    <input class="answers" type="text" id="born" name="born">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="live">Where do you live?</label>
    <input class="answers" type="text" id="live" name="live">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="work">Where are you working?</label>
    <input class="answers" type="text" id="work" name="work">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="study">Where did you study?</label>
    <input class="answers" type="text" id="study" name="study">
    <span class="validation-text"></span>
</div>
<div class="next-button">
    <a id="next-first" href="#question_second">Next questions</a>
</div>
