<div class="form-group">
    <label class="questions" for="hobby">Hobby</label>
    <input class="answers" type="text" id="hobby" name="hobby">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="email">Email</label>
    <input class="answers" type="email" id="email" name="email">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="telephone">Telephone</label>
    <input class="answers" type="text" id="telephone" name="telephone">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="movie">Favorite movie</label>
    <input class="answers" type="text" id="movie" name="movie">
    <span class="validation-text"></span>
</div>
<div class="form-group">
    <label class="questions" for="cartoon">Favorite cartoon</label>
    <input class="answers" type="text" id="cartoon" name="cartoon">
    <span class="validation-text"></span>
</div>
<div class="next-button">
    <a id="next-second" href="#question_all">Next questions</a>
</div>
